
<mat-grid-list cols="4">
<mat-grid-tile *ngFor="let item of categoryItems">
<div class="container" >
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title [routerLink]="['products-details',item.id]">{{item.title}}</mat-card-title>
      <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{item.image}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>

        {{item.rating.rate}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
</mat-grid-tile>
</mat-grid-list>
