
<div class="cont">
  <h1>{{title}}</h1>
  <div class="inside">
  <form #myform="ngForm" autocomplete="off">
      <mat-form-field appearance="outline" aria-autocomplete="none">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Enter username" name="username" ngModel required>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <br> <br>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter Password" name="password" #mypass="ngModel" [minlength]=5 ngModel required>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <div>
        <span *ngIf=mypass.invalid>PLease enter valid password</span>
      </div>

      <div>
        <button mat-raised-button color="primary" type="submit" (click)="formSubmit(myform)" [disabled]=myform.invalid>REGISTER</button>
        <button mat-raised-button color="primary" type="submit" (click)="loginSubmit(myform)" [disabled]=myform.invalid>LOGIN</button>
      </div>
    </form>
  </div>
</div>
