<form #myform="ngForm" autocomplete="off">
  <mat-form-field appearance="outline" aria-autocomplete="none">
    <mat-label>TO DO</mat-label>
    <input matInput type="text" placeholder="What to do?" name="todo" [(ngModel)]="mydata" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" (click)="getdata()" [disabled]=myform.invalid>Submit</button>
  <div *ngFor="let item of list">
  <h1>{{item}}</h1>
</div>
</form>

<div *ngFor="let item of studentsData">
  {{item.name}}
  {{item.address}}
  {{item.phone}}
  {{item.rollno}}

</div>>
