img{
  max-width: 80%;
  height: 900px;
}

.container
{
  margin-top: 30px;

}
.container > h1{
  font-size: 3.5em;
}

.flex
{
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-flow: row wrap;

}

.card {
  display: flex;
  flex-direction: column;
  min-width: 17rem;
  max-width: calc(12.5rem + 13vw);
  background: #fff;
  border-radius: 0.75em;
  overflow: hidden;
  box-shadow: 0 0.25em 0.6em #0005, 0 0.65em 1em #0004;
  transition: transform 270ms ease;
  position: relative;
}

.card::before {
  position: absolute;
  display: flex;
  inset: 0;
  isolation: isolate;
  mix-blend-mode: color;
  background: linear-gradient(180deg, #0000 50%, 50%, salmon, 70%, blue 100%);
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
}
.card:hover {
  transform: scale(1.05);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  margin-bottom: 1em;
}

.card-body {
  height: 200px;
  padding: 1em 0;
}

h3 {
  text-align: center;
  color: #999fff;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

p {
  color: #0009;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  margin: 1em auto;
  max-width: 35ch;
}
